{% extends 'base.html' %}

{% block chamada %}Catalog{% endblock %}

{% block corpo %}

    <h1>Catalog Publications</h1>
    {% if errors %}
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <table border="1">
            {{form.as_table}}
            <tr>
                <td colspan=2>
                    <table border="1">
                        {{formset.as_table}}
                    </table>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="OK"></td>
            </tr>
        </table>
    </form>
<hr>

{% endblock corpo %}
